@tailwind base;
@tailwind components;
@tailwind utilities;

.newr{
    background: #0D1117;
}

::-webkit-scrollbar{
    width: 17px;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#3F3FFF);
    border-radius: 6px;
  }